<!-- Header común -->
<div class="header">
  <div class="logo-container">
    <img src="https://i.imgur.com/Uw8kbQO.png" alt="Logo Larnet" class="logo">
    <div>
      <div class="logo-text">BDPA</div>
      <div class="logo-subtext">Base de Datos de Progreso Automatizado</div>
    </div>
  </div>
  <div class="user-info">
    <div class="user-name" id="current-user"></div>
    <div class="user-role" id="current-role"></div>
    <a class="logout-btn" onclick="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    <a class="logout-btn mt-10" onclick="mostrarModalContrasena()"><i class="fas fa-key"></i> Cambiar contraseña</a>
  </div>
</div>
